<%- include('partials/header') %>

    <div class="show-container">
        <header>
            <h1 class="name">Martin Nicola</h1>
        </header>
        <main>
            <section class="image-section">
                <img class="profile-image" src="/images/martinnicola.jpeg" alt="Picture of Pokemon">
            </section>
            <section class="info-section">
                <h2 class="section-title">Overview</h2>
                    <ul>
                        <li>
                            The Pokedex app is a popular mobile application that provides information about various Pokemon characters from the popular Pokemon franchise. It allows users to browse and search for information on different Pokemon characters such as their types, abilities, moves, and statistics. The app also includes a list of all the Pokemon characters along with their pictures and detailed descriptions. With the Pokedex app, Pokemon fans can easily keep track of their favorite characters, learn new things about them, and discover new Pokemon characters that they may not have known about before. Overall, the Pokedex app is a useful tool for Pokemon enthusiasts who want to expand their knowledge about the Pokemon universe.
                        </li>
                    </ul>        
            </section>
        </main>
    </div>

<%- include('partials/footer') %>